.logo{
    width: 100%;
    max-width: 300px;
    float: left;
}

#logo{
    width: 150px;
}

nav{
width: 100%;

}

nav ul{
    background-color: rgba(32, 32, 32, 0.783);
    height: 30px;
    padding: 60px 0px;

}

nav ul li {
    display: inline;
    padding: 20px 25px;
    list-style: none;
}
nav ul li:hover, nav ul li.active{
    background-color: rgb(84, 35, 209);
}

/* nav ul li:hover a{
    color: rgb(101, 191, 255);
} */
nav ul li a{
font-size: 30px;
color: white;
text-decoration: none;
font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: normal;

}

/* END HEADER */

#banner{
    width: 100%;
    height: 600px;
    background-image: url("../images/banner.webp");
}

#banner h1{
    color: white;
    left: 40%;
    margin: auto;
    position: absolute;
    top: 40%;
}

/* END BANNER */

.container{
    margin: 20px 0px;
    padding: 10px 30px;
}
#foto{
    width: 100%;
    max-width: 1800px;
    margin: auto;
}

#foto img.foto{
    margin: 20px;
}

@font-face {
    font-family: 'Sevillana';
    src: url('../fonts/Sevillana-Regular.eot');
    src: local('Sevillana'), local('Sevillana-Regular'),
        url('../fonts/Sevillana-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sevillana-Regular.woff2') format('woff2'),
        url('../fonts/Sevillana-Regular.woff') format('woff'),
        url('../fonts/Sevillana-Regular.ttf') format('truetype'),
        url('../fonts/Sevillana-Regular.svg#Sevillana-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
