h1{
    width: 100%;
    max-width: 500px;
    border-bottom: double 2px blue;
    margin: auto;
    text-align: center;
}


h2{
    border-bottom: solid 2px red;
    padding: 15px;
    width: 100% ;
    max-width: 500px;
    
}